body {
    margin: 0;
    color: #111111;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.app-header, .app-settings, .app-body, .app-footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-header {
    background: #111111;
    color: #f9f9f9;
    text-align: center;
}

.app-header h1 {
    margin: 0;
    padding: 10px 20px;
    font-size: 40px;
}

.app-header p {
    padding-bottom: 1em;
}

.app-settings, .app-body {
    background: white;
    border-bottom: 1px solid #cccccc;
}

.app-settings .app-single-setting-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 3em;
    padding-bottom: 1em;
    width: 20%;
    min-width: 300px;
}

.app-settings label {
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
}

.app-settings .dash-dropdown {
    width: 75%;
    min-width: 250px;
    display: table-cell;
    vertical-align: middle;
    margin: 0.5em 2em;
}

.app-body {
    padding: 2em 0;
}

.app-body h2 {
    text-align: center;
    padding-bottom: 1.5em;
}

.app-body .team-name {
    display: inline-block;
    width: 30%;
    margin: 1em 10%;
    padding: 0;
    text-align: center;
}

.app-body .team-full-name {
    font-size: 2em;
    font-weight: 400;
    margin: 0.5em;
}

.app-body .team-win-prob {
    font-size: 4em;
    font-weight: 700;
    margin: 0.5em;
}

.app-body .team-win-ratio {
    font-size: 1em;
    color: #aaaaaa;
}

.app-body .team-form-win, .app-body .team-form-loss {
    height: 1em;
    width: 1em;
    margin: 0 0.25em;
    display: inline-block;
}

.app-body .team-form-win {
    background-color: yellowgreen;
}

.app-body .team-form-loss {
    background-color: indianred;
}

.app-body #main-stats-table {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto 2em;
    text-align: center;
}

.app-body #main-stats-table th {
    font-weight: 700;
    text-align: center;
    width: 33%;
    background-color: #eeeeee;
    font-family: "Lato", sans-serif;
}

.app-body #main-stats-table td {
    text-align: center;
    width: 33%;
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

.app-footer {
    background: white;
    color: #cccccc;
    font-size: 0.75em;
    text-align: center;
    padding: 1.25em 0 0 0;
}